In [2]:
import pandas as pd

In [3]:
tweet = pd.read_csv("Cleaned Tweets.csv")
author = pd.read_csv("Author Information.csv")

In [20]:
tweet.head()

,index,Author,Date,Tweet,Likes,Comments,Retweets,Mentions,Clean Text
0,0,@donwinslow,27-Nov,Dear @realDonaldTrump President-elect Biden's...,15.8K,173,2.3K,@realDonaldTrump,dear president elect national popular vote lea...
1,1,@Strandjunker,27-Nov,"To heal, we need Nuremberg Trials 2.0 against ...",15K,415,3K,NaN,heal need trial trump spawn republican
2,2,@tonyposnanski,27-Nov,There is no reason why Donald Trump shouldnâ€™t ...,5.5K,167,550,NaN,reason trump twitter president post false info...
3,3,@DrSamGirgis,27-Nov,Watch as 20K PA votes for Trump disappear in r...,17.9K,1.1K,11.2K,"@CNN, @realDonaldTrump, @JoeBiden, @JohnKingCNN",watch pa vote trump disappear real time explan...
4,4,@mmpadellan,27-Nov,I don't care if trump voluntarily tries to lea...,11.3K,321,1.3K,NaN,care trump voluntarily try leave white house e...

In [21]:
author.head()

,Id,Name,Screen Name,Location,Followers Count,Friends Count,Listed Count,Created At,Favourites Count,Verified,Tweets Count
0,2.558126e+08,Don Winslow,donwinslow,Repped by The Story Factory,540001,18502,2579,2/22/2011 2:58,168471,True,59151
1,1.866939e+09,Andrea Junker Â®,Strandjunker,"San Francisco, CA",117044,143,455,9/15/2013 8:50,237173,False,6460
2,1.764275e+07,Tony Posnanski,tonyposnanski,NaN,222239,1980,1645,11/26/2008 4:57,43252,True,137829
3,2.275337e+09,Sam Girgis,DrSamGirgis,United States ðŸ‡ºðŸ‡¸,19666,474,354,1/4/2014 1:11,9655,True,2855
4,1.640929e+09,BrooklynDad_Defiant!,mmpadellan,"Brooklyn, NY",781507,42071,2200,8/2/2013 17:20,247763,False,103622

In [22]:
print(author.shape, tweet.shape)

(2791, 11) (17471, 9)

In [23]:
len(tweet['Author'].unique())

2792

In [4]:
i = 0
for auth in tweet['Author']:
    tweet['Author'][i] = auth.split("@")[1]
    i = i + 1

C:\Users\saksh\Anaconda3\lib\site-packages\ipykernel_launcher.py:3: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  This is separate from the ipykernel package so we can avoid doing imports until

In [8]:
[auth for auth in tweet['Author'].unique() if auth not in list(author['Screen Name'])]

['roper_93', 'didnt_askg']

In [5]:
tweet = tweet.rename(columns = {"Author" : "Screen Name"})
tweet.head()

,index,Screen Name,Date,Tweet,Likes,Comments,Retweets,Mentions,Clean Text
0,0,donwinslow,27-Nov,Dear @realDonaldTrump President-elect Biden's...,15.8K,173,2.3K,@realDonaldTrump,dear president elect national popular vote lea...
1,1,Strandjunker,27-Nov,"To heal, we need Nuremberg Trials 2.0 against ...",15K,415,3K,NaN,heal need trial trump spawn republican
2,2,tonyposnanski,27-Nov,There is no reason why Donald Trump shouldnâ€™t ...,5.5K,167,550,NaN,reason trump twitter president post false info...
3,3,DrSamGirgis,27-Nov,Watch as 20K PA votes for Trump disappear in r...,17.9K,1.1K,11.2K,"@CNN, @realDonaldTrump, @JoeBiden, @JohnKingCNN",watch pa vote trump disappear real time explan...
4,4,mmpadellan,27-Nov,I don't care if trump voluntarily tries to lea...,11.3K,321,1.3K,NaN,care trump voluntarily try leave white house e...

In [6]:
final_df = pd.merge(tweet, author, on=['Screen Name'])

In [7]:
final_df.head()

,index,Screen Name,Date,Tweet,Likes,Comments,Retweets,Mentions,Clean Text,Id,Name,Location,Followers Count,Friends Count,Listed Count,Created At,Favourites Count,Verified,Tweets Count
0,0,donwinslow,27-Nov,Dear @realDonaldTrump President-elect Biden's...,15.8K,173,2.3K,@realDonaldTrump,dear president elect national popular vote lea...,255812611.0,Don Winslow,Repped by The Story Factory,540001,18502,2579,2/22/2011 2:58,168471,True,59151
1,81,donwinslow,27-Nov,Dear @realDonaldTrump This is incredibly s...,16.3K,325,1.9K,@realDonaldTrump,dear incredibly simple lost,255812611.0,Don Winslow,Repped by The Story Factory,540001,18502,2579,2/22/2011 2:58,168471,True,59151
2,94,donwinslow,26-Nov,Dear @realDonaldTrump It's going to be a ve...,9.6K,172,935,@realDonaldTrump,dear going different,255812611.0,Don Winslow,Repped by The Story Factory,540001,18502,2579,2/22/2011 2:58,168471,True,59151
3,151,donwinslow,26-Nov,I'm thankful to all the people who didn't trav...,62.1K,813,4.3K,NaN,thankful people travel thanksgiving thankful t...,255812611.0,Don Winslow,Repped by The Story Factory,540001,18502,2579,2/22/2011 2:58,168471,True,59151
4,234,donwinslow,25-Nov,What James Comey said about Michael Flynn was ...,9.5K,213,1.5K,NaN,said true told trump true broke law trump brok...,255812611.0,Don Winslow,Repped by The Story Factory,540001,18502,2579,2/22/2011 2:58,168471,True,59151

In [8]:
len(author[author['Verified']==True])

1454

In [72]:
final_df.to_csv("Combined Information.csv",index=False)

In [9]:
import re
i = 0
for row in final_df['Likes']:
    #print(row)
    if re.search('K',row):
        row = row.split("K")[0]
        #print(row)
        final_df['Likes'][i] = int(float(row)*1000)
        #print(int(float(row)*1000))
    if re.search('M',row):
        row = row.split("M")[0]
        #print(row)
        final_df['Likes'][i] = int(float(row)*1000000)
    i = i + 1    
    
i = 0
for row in final_df['Comments']:
    #print(row)
    if re.search('K',row):
        row = row.split("K")[0]
        #print(row)
        final_df['Comments'][i] = int(float(row)*1000)
        #print(int(float(row)*1000))
    i = i + 1

i = 0
for row in final_df['Retweets']:
    #print(row)
    if re.search('K',row):
        row = row.split("K")[0]
        #print(row)
        final_df['Retweets'][i] = int(float(row)*1000)
        #print(int(float(row)*1000))
    i = i + 1

C:\Users\saksh\Anaconda3\lib\site-packages\ipykernel_launcher.py:8: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy

C:\Users\saksh\Anaconda3\lib\site-packages\ipykernel_launcher.py:13: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  del sys.path[0]
C:\Users\saksh\Anaconda3\lib\site-packages\ipykernel_launcher.py:22: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
C:\Users\saksh\Anaconda3\lib\site-packages\ipykernel_launcher.py:32: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy

In [64]:
final_df.dtypes

index                 int64
Screen Name          object
Date                 object
Tweet                object
Likes                object
Comments             object
Retweets             object
Mentions             object
Clean Text           object
Id                  float64
Name                 object
Location             object
Followers Count       int64
Friends Count         int64
Listed Count          int64
Created At           object
Favourites Count      int64
Verified               bool
Tweets Count          int64
dtype: object

In [10]:
count = []
likes = []
comments = []
retweets = []

for auth in final_df['Screen Name'].unique():
    temp_df = final_df[final_df['Screen Name'] == auth]
    count.append(len(temp_df))
    likes.append(temp_df['Likes'].astype('int64').mean())
    comments.append(temp_df['Comments'].astype('int64').mean())
    retweets.append(temp_df['Retweets'].astype('int64').mean())

agg_df = pd.DataFrame({"Screen Name" : final_df['Screen Name'].unique(),
                       "Tweet Count" : count,
                       "Average Likes" : likes,
                       "Average comments" : comments,
                       "Average retweets" : retweets})
agg_df.head()

,Screen Name,Tweet Count,Average Likes,Average comments,Average retweets
0,donwinslow,235,17755.455319,690.144681,5531.238298
1,Strandjunker,26,20476.923077,929.076923,4854.807692
2,tonyposnanski,10,15590.000000,827.700000,1995.600000
3,DrSamGirgis,1,17900.000000,1100.000000,11200.000000
4,mmpadellan,141,19462.411348,568.425532,3380.907801

In [11]:
new_author = pd.merge(author, agg_df, on=['Screen Name'])
new_author.head()

,Id,Name,Screen Name,Location,Followers Count,Friends Count,Listed Count,Created At,Favourites Count,Verified,Tweets Count,Tweet Count,Average Likes,Average comments,Average retweets
0,2.558126e+08,Don Winslow,donwinslow,Repped by The Story Factory,540001,18502,2579,2/22/2011 2:58,168471,True,59151,235,17755.455319,690.144681,5531.238298
1,1.866939e+09,Andrea Junker Â®,Strandjunker,"San Francisco, CA",117044,143,455,9/15/2013 8:50,237173,False,6460,26,20476.923077,929.076923,4854.807692
2,1.764275e+07,Tony Posnanski,tonyposnanski,NaN,222239,1980,1645,11/26/2008 4:57,43252,True,137829,10,15590.000000,827.700000,1995.600000
3,2.275337e+09,Sam Girgis,DrSamGirgis,United States ðŸ‡ºðŸ‡¸,19666,474,354,1/4/2014 1:11,9655,True,2855,1,17900.000000,1100.000000,11200.000000
4,1.640929e+09,BrooklynDad_Defiant!,mmpadellan,"Brooklyn, NY",781507,42071,2200,8/2/2013 17:20,247763,False,103622,141,19462.411348,568.425532,3380.907801

In [91]:
new_author.dtypes

Id                  float64
Name                 object
Screen Name          object
Location             object
Followers Count       int64
Friends Count         int64
Listed Count          int64
Created At           object
Favourites Count      int64
Verified               bool
Tweets Count          int64
Tweet Count           int64
Average Likes       float64
Average comments    float64
Average retweets    float64
dtype: object

In [12]:
from sklearn.preprocessing import MinMaxScaler
import numpy as np

scaler = MinMaxScaler()
Tweet_Count = np.ravel(scaler.fit_transform(new_author[['Tweet Count']]))
Average_Likes = np.ravel(scaler.fit_transform(new_author[['Average Likes']]))
Average_comments = np.ravel(scaler.fit_transform(new_author[['Average comments']]))
Average_retweets = np.ravel(scaler.fit_transform(new_author[['Average retweets']]))
Followers_Count = np.ravel(scaler.fit_transform(new_author[['Followers Count']]))

In [24]:
Tweet_Count

array([0.13079933, 0.01397429, 0.00503074, ..., 0.        , 0.        ,
       0.        ])

In [42]:
influence_matrix =  0.6*Tweet_Count + 0.05*Average_Likes + 0.2*Average_comments + 0.05*Average_retweets + \
                    0.1*new_author['Verified']

In [43]:
new_author['Influence Matrix'] = pd.DataFrame(list(influence_matrix), columns=['Influence Matrix'])
new_author.head()

,Id,Name,Screen Name,Location,Followers Count,Friends Count,Listed Count,Created At,Favourites Count,Verified,Tweets Count,Tweet Count,Average Likes,Average comments,Average retweets,Influence Matrix
0,2.558126e+08,Don Winslow,donwinslow,Repped by The Story Factory,540001,18502,2579,2/22/2011 2:58,168471,True,59151,235,17755.455319,690.144681,5531.238298,0.182893
1,1.866939e+09,Andrea Junker Â®,Strandjunker,"San Francisco, CA",117044,143,455,9/15/2013 8:50,237173,False,6460,26,20476.923077,929.076923,4854.807692,0.013615
2,1.764275e+07,Tony Posnanski,tonyposnanski,NaN,222239,1980,1645,11/26/2008 4:57,43252,True,137829,10,15590.000000,827.700000,1995.600000,0.106945
3,2.275337e+09,Sam Girgis,DrSamGirgis,United States ðŸ‡ºðŸ‡¸,19666,474,354,1/4/2014 1:11,9655,True,2855,1,17900.000000,1100.000000,11200.000000,0.106615
4,1.640929e+09,BrooklynDad_Defiant!,mmpadellan,"Brooklyn, NY",781507,42071,2200,8/2/2013 17:20,247763,False,103622,141,19462.411348,568.425532,3380.907801,0.050805

In [44]:
new_author.to_csv("top 20 influencers.csv",index=False)

In [124]:
influence_matrix

0       0.137925
1       0.014434
2       0.109080
3       0.115672
4       0.026639
          ...
2785    0.188194
2786    0.102478
2787    0.003325
2788    0.224294
2789    0.000337
Name: Verified, Length: 2790, dtype: float64

In [125]:
pd.DataFrame(list(influence_matrix), columns=['Influence Matrix'])

      Influence Matrix
0             0.137925
1             0.014434
2             0.109080
3             0.115672
4             0.026639
...                ...
2785          0.188194
2786          0.102478
2787          0.003325
2788          0.224294
2789          0.000337

[2790 rows x 1 columns]